h2{font-weight:normal;}
.textwidget{min-height:100px;}.textwidget .bsap{float:left;}
code{background-color:#fee9cc;color:rgba(0, 0, 0, 0.75);padding:1px 3px;}
#site-title{color:#fff !important;margin-top:2px;}#site-title a{color:#fff !important;font-size:20px;font-weight:normal;text-shadow:none !important;}#site-title a:hover{color:#ccc;}
.post-title{font-weight:400;font-size:32px;}
.post p{line-height:22px;font-size:14px;}
.entry-content h2{border-bottom:1px solid #EEE;line-height:40px !important;}
.entry-content h3{font-weight:normal;font-size:20px;}
.entry-content ol,.entry-content ul{font-size:14px;}
#site-title,#menu-above-header,#footer{font-family:'Droid Sans',Arial,sans-serif;}
.navbar .navbar-inner{height:45px;}
.navbar .nav>li>a{text-shadow:none;}
.menu-header-container{float:left;}
.standard-pi-bio{font-size:13px;}
.post.format-quote .post-title{border-bottom:0;margin-bottom:0px;}
.post.format-quote .post-header{background-color:#000;background-image:url(../images/bg-quote.png);}.post.format-quote .post-header .entry-content{background-image:url(../images/icn-quote.png);}.post.format-quote .post-header .entry-content p{font-style:normal;color:#fff;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;margin-top:-4px;}
.post.format-link a{font-weight:200;}
.post.format-link .post-header .post-title{margin-top:-4px;}
.post.format-link .post-header .entry-content{padding-left:50px;}
#standard-post-advertisement .widget{margin-bottom:0;}#standard-post-advertisement .widget .textwidget{min-height:60px !important;}
.format-link .post-header{height:50px;}
.entry-content.link-description{margin-top:20px;}
#commentform #comment-form-avatar{margin-right:10px;}
#no-comments .title{font-weight:normal;}
#cse-search-results iframe{min-height:1080px;height:1370px;}
body .syntaxhighlighter code,body body .syntaxhighlighter .gutter{font-family:Menlo,Monaco,"Courier New",monospace !important;}
#wp-stripe-types{width:100% !important;background-position:center !important;}
.sharedaddy .sd-sharing{border:0 !important;margin-left:-100px !important;}
.single-post-message{margin-bottom:20px !important;}
@media (max-width:480px){#site-title{display:none;} #social-networking .social-icons{margin-top:3px;}}@media (max-width:979px){#site-title{margin-left:4px;margin-top:-6px;}}@media only screen and (max-width:767px){#site-title{margin-left:4px;margin-top:-6px;} #site-title .brand{margin-top:-4px;}}@media (min-width:768px) and (max-width:979px){#site-title{margin-left:4px;margin-top:-6px;}}
